.footer {
	margin-top: 67px;
	color: #545454;
	margin-top: 67px;
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.22;
	letter-spacing: 0em;
	text-align: left;
}

.footer__note {
}

@media screen and (min-width: 751px) and (max-width: 999px) {
	.footer {
		display: grid;
		grid-template-columns: 282px 282px;
		grid-gap: 17px;
		margin: 67px auto 0;
	}
}

@media screen and (min-width: 617px) and (max-width: 750px) {
	.footer {
		display: grid;
		grid-template-columns: 282px 282px;
		grid-gap: 17px;
		margin: 47px auto 0;
		justify-self: center;
	}
}

@media screen and (min-width: 471px) and (max-width: 617px) {
	.footer {
		margin-bottom: 36px;
		margin-left: 20px;
		margin-top: 48px;
	}
}

@media screen and (max-width: 470px) {
	.footer {
		margin-bottom: 36px;
		margin-left: 20px;
		margin-top: 48px;
	}
}
