.footer {
	margin-top: 67px;
	margin-bottom: 60px;
	color: #545454;
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.22;
	letter-spacing: 0em;
	text-align: left;
}

.footer__note {
	margin: 0;
}

@media screen and (max-width: 999px) {
	.footer {
		display: grid;
		grid-template-columns: 282px 282px;
		grid-gap: 17px;
	}
}
@media screen and (max-width: 999px) {
	.footer {
		margin: 67px auto 60px;
	}
}

@media screen and (max-width: 750px) {
	.footer {
		justify-self: center;
	}
}
@media screen and (max-width: 617px) {
	.footer {
		display: block;
		margin-bottom: 36px;
		margin-left: 20px;
		margin-right: auto;
		margin-top: 48px;
		font-size: 14px;
	}
}
