.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: block;
	height: 0;
	width: 0;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: height 0s 0.4s, opacity 0.1s 0.5s ease-in-out;
}

.modal_opened {
	display: flex;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: height 0.1s 0.1s, opacity 0.1s 0.5s ease-in-out;
}

.modal__container {
	padding: 36px;
	border-radius: 10px;
	color: black;
	background-color: white;
	position: relative;
	width: 430px;
}

.modal__close {
	position: absolute;
	bottom: calc(100% + 5px);
	left: calc(100% + 5px);
	background-image: url(../images/icons/Close\ Icon.svg);
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.modal__close:hover {
	opacity: 0.6;
}

.modal__heading {
	font-family: Inter, sans-serif;
	font-size: 24px;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 24px;
}

.modal__form {
	width: 100%;
	display: grid;
	grid-template-columns: auto;
	margin: 0 auto;
}

.modal__form-input {
	font-family: Inter, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	border: none;
	border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
	margin-top: 30px;
	padding-bottom: 13px;
}

.modal__button {
	margin-top: 48px;
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	color: white;
	background-color: black;
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 2px;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.modal__button:hover {
	opacity: 0.8;
}

.modal__large-container {
	width: 75vw;
	height: 75vh;
	display: flex;
	flex-direction: column;
}

.modal__preview-container {
	padding: 0;
	margin: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	/*background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/software-engineer/around-project/yosemite.jpg);*/
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 75vw;
	max-height: 75vh;
}

.modal__preview-image {
	width: 100%;
	height: 100%;
}

.modal__preview-title {
	font-family: Inter, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: left;
	position: absolute;
	bottom: -35px;
	left: 0;
}

@media screen and (max-width: 617px) {
	.modal__container {
		width: 282px;
		padding: 22px;
		margin-left: 19px;
		margin-right: 19px;
	}

	.modal__heading {
		margin-bottom: 45px;
	}

	.modal__close {
		width: 26px;
		height: 26px;
		left: calc(100% - 26px);
		bottom: calc(100% + 13px);
	}

	.modal__button {
		height: 46px;
	}
}
