.page {
	min-width: 320px;
	background-color: black;
	color: white;
}

.page__content {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	width: 100%;
	max-width: 880px;
}

@media screen and (max-width: 999px) {
	.page {
		width: calc(100% - 40px);
		margin: 0 auto;
	}
}

@media screen and (min-width: 471px) and (max-width: 617px) {
	.page {
		justify-content: center;
	}
}
