@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/gallery.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);

@media screen and (min-width: 617px) and (max-width: 999px) {
	.page {
		width: calc(100%-40px);
		margin: 0 20px;
	}

	.profile__title {
		font-size: 35px;
	}
	.profile__info {
		min-width: 300px;
	}

	.gallery {
		margin: auto;
		justify-items: center;
	}

	.gallery__cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.card:nth-child(odd) {
		margin-left: auto;
	}

	.card:nth-child(even) {
		margin-right: auto;
	}
}

@media screen and (min-width: 617px) and (max-width: 750px) {
	.profile {
		flex-wrap: wrap;
	}

	.profile__add-button {
		margin: auto;
		width: 282px;
	}
}

@media screen and (min-width: 471px) and (max-width: 617px) {
	.page {
		width: calc(100%-40px);
		margin: 0 20px;
		justify-content: center;
	}

	.profile {
		flex-direction: column;
		justify-content: center;
	}

	.profile__title {
		font-size: 30px;
	}

	.profile__description {
		font-size: 20x;
		text-align: center;
	}

	.profile__info {
		padding-top: 26px;
		padding-bottom: 36px;
		min-width: 300px;
	}

	.profile__add-button {
		margin: auto;
		width: 282px;
	}

	.gallery {
		margin: auto;
	}

	.gallery__cards {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}

@media screen and (max-width: 470px) {
	.header {
		margin-left: 27px;
	}

	.profile {
		flex-direction: column;
		justify-content: center;
	}

	.profile__info {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 26px;
		padding-bottom: 36px;
	}

	.profile__title {
		text-align: center;
		font-size: 22px;
	}

	.profile__description {
		font-size: 14px;
		width: 100%;
		text-align: center;
	}

	.profile__add-button {
		margin: auto;
		width: 282px;
	}

	.gallery__cards {
		grid-template-columns: 1fr;
		justify-items: center;
		min-width: 282px;
	}
}
